@charset "UTF-8";

* {
  margin: auto;
  padding: 0%;
}

.container {
  max-width: 350px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 2px solid chartreuse;
  padding: 30px;
  border-radius: 10px;
}