@charset "UTF-8";

* {
    margin: auto;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: chartreuse;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.add-task-button-container {
    margin-left: 10px;
    flex: 1;
}